body {
    text-transform: none;
    font-family: Georgia, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.69em;
    font-size: 16px;
    font-weight: 400;
    overflow-wrap: normal;
    height: 100%;
    min-height: 100%;
    background-color: #FFFFFF
}

p {
	font-family: Georgia, serif;
	font-size: 25px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #444444;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

#header-img {
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	left: 30%;
	right: 30%;
	height: 25em;
}

 .hide {
	display: none;
 }

 .alert{
	background-color: #E60000;
 }