
body {margin:25px;}

#background-img{
    background-image: url("../images/new background.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header-section h1 {
	font-size: 3.5em;
}


#header-section {
	background-color: rgb(55, 64, 60);
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: 215px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    width: 80%;
    max-width: 500px;
    padding: 10px;
    text-align: center;
}

.hide {
	display: none;
 }

.alert{
	background-color: #E60000;
 }

.moodDropDownBtn {
	background-color: rgb(156, 192, 143);	
	color: rgb(255, 255, 255);
	padding: 16px;
	font-size: 16px;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border: none;	
  }

.spiritDropDownBtn {
	background-color: rgb(156, 192, 143);	
	color: rgb(255, 255, 255);
	padding: 16px;
	font-size: 16px;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border: none;	
  }
  
.buttonSelectors {
	position: relative;
	text-align: center;	
  }
  
.dropdown-content {
	display: none;
	position: relative;	
	text-align: center;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;	
	text-align: center;
  }
  
.dropdown-content a:hover {
	background-color: #ddd;
}
  
.buttonSelectors:hover .dropdown-content {
	display: block;
}
  
.buttonSelectors:hover .dropDownBtn {
	background-color: rgb(105, 130, 96);
	color: rgba(0,0,0);
}

#drinkImg{
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
	position: center;
	border-radius: 8px;
}

#cocktail-recipe{
	text-align: center;	
}

.container{
		
	margin: 0 auto;	
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 700px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
	text-align: center;
	padding: 10px 20px;
	border-radius: 8px;
	
    
}

